/* Index */


/* Zeroth burgers */
.zeroth {
    background-image: url(../images/bg1-1.jpg);
    background-size: cover;
    height: auto;
    margin-bottom: 1rem;
}

.zeroth2 {
    padding: 2rem;

    h1 {
        color: $secondarycolor;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.2);

    }
}


.newsletter {
    height: 25rem;
    background-image: url(../images/news.jpg);
    background-size: cover;
    background-position: center center;
    margin-bottom: 1rem;

    .news-box {
        background-color: rgba(0, 0, 0, 0.664);
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

          

        p {
            @include font-prop ($principalcolor, false, 1.2rem);
            text-align: center;

        }

        input {
            width: 20rem;
            height: 2rem;
        }
    }
}

@media (min-width : 768px) {    // este mediaquery no anda.
    .news-box {
        flex-direction: row;

    }
}

/* Gallery */

.gallery {
    background-color: $white;
    display: flex;
    flex-direction: column;

    .title {
        color: $secondarycolor;
        padding-top: 1rem;
    }

}

.c-banner-index {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:hover img {
        filter: brightness(50%);
    }

    &:hover .info {
        opacity: 1;
    }

    img {
        max-width: 100%;
        border-radius: 2rem;
        margin: 0.5rem;
        transition: all 500ms;
    }
}

.info {
    opacity: 0;
    text-align: center;
    font-size: 1.8rem;
    position: absolute;
    z-index: 1;
    transition: all 500ms;

    p {
        @include font-prop ($white, false, 1.2rem)
    }

}