/* Navigation */

.navbar {
    display: block;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
@media (min-width: 1000px) {
    .navbar {
        position: static;
    }
}

.container-logo {
    width: 12rem;
    img {
        max-width: 45%;
    }
}

@media (min-width :768px) {
    .container-logo {
        padding-left: 2rem;
    }
}

.navbar-light .navbar-nav
 .nav-link {
    @include font-prop  ($white, true, 1.1rem);

    &:hover, &:active {
        color: $secondarycolor;        
    }
 }

 .active {
     color: $secondarycolor !important;
 }

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    h2 {
        @include font-prop ($white, true, 1.8rem);
        transform: rotate(355deg);
        
    }
}

.social-container {
    display:flex;
    justify-content: center;
}
