/* presets*/

@import "_variables";
@import "_global";
@import "_buttons";
@import "_mixins";

/* Site */
@import "_nav";
@import "_index";
@import "_promo";
@import "foodmenu";
@import "_footer";






@media (min-width :768px) {

    /*footer*/
    .footer-container  {
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .gallery {
        align-items: center;
    }
    .container-gallery {
        display: flex;
    }

    /* Promo */ 

    .promo-container {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

}